.modal {
  position: absolute;
  min-height: 581px;
  min-width: 528px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);

  padding: 40px 40px 40px 40px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button {
  display: flex;
  position: absolute;

  top: 8px;
  right: 8px;

  justify-content: center;
  align-items: center;

  width: 30px;
  height: 30px;
  background-color: #fff;

  border: 1px solid rgba(0, 0, 0, 0.1);

  border-radius: 50%;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
  }
}

.modal__header {
  display: block;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--title-color);
  margin-bottom: 12px;
}

.modal-form__label {
  margin-right: auto;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height */

  letter-spacing: 0.01em;

  color: #757575;
  margin-bottom: 4px;
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form__input {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus,
  &:focus-within {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    outline-color: var(--accent-color);
  }
}

.modal-form__input.text-area {
  margin-bottom: 0px;
  height: 122px;
  margin-bottom: 20px;
}

.modal-form__input .icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
}

textarea {
  resize: none;
  padding: 12px 16px;
}

.modal-form__item {
  position: relative;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  padding-left: 42px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    outline-color: var(--accent-color);
  }
}

.modal-textarea {
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus,
  &:hover {
    fill: var(--accent-color);
    border-color: var(--accent-color);
    outline-color: var(--accent-color);
  }
}

.checkbox__label {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-right: 12px;
}

.checkbox__icon {
  position: absolute;
  display: inline-block;
  width: 16px;
  height: 16px;
  border: 3px solid #212121;
  border-radius: 3px;

  left: 0px;
  cursor: pointer;

  margin-left: 12px;
}

.checkbox__input {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.checkbox__input:checked + .checkbox__icon {
  background-color: var(--accent-color);
  /* border-color: transparent; */
  background-origin: content-box;
  background-image: url('../images/icons/SVG/icon-check.svg');
  background-size: contain;
  border: 0px;
}

.checkbox__link {
  margin-left: 5px;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
  text-decoration-line: underline;
  color: #2196f3;
}

.form-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 30px;
  align-items: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 0px;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #188ce8;
  }
}
