.header__logo {
  margin-right: 93px;
}

.logo--color {
  color: var(--accent-color);
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  padding-top: 24px;
  padding-bottom: 25px;

  color: #000000;
}
