.social-icons {
  display: flex;
  justify-content: center;
}

.social__icon {
  width: 20px;
  height: 20px;
  fill: var(--icons-color);
}

.social-icons__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: #ffffff;
  border-radius: 50%;

  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__item + .social-icons__item {
  margin-left: 10px;
}

.social-icons__link .icon {
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons__link:hover,
.social-icons__link:focus {
  background-color: var(--accent-color);

  .icon {
    fill: var(--dark-bg-text-color);
  }
}
