.filter__content {
  padding-top: 94px;
  padding-bottom: 94px;
}
.filter__button {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter__item:not(:last-child) {
  margin-right: 8px;
}
